# Auto detect text files and perform LF normalization
* text=auto
# ignore .idea files
.idea/**/* linguist-generated=true
# set language to typescript
*.ts linguist-language=TypeScript
# do not count *.js files
*.js linguist-vendored
